body {
    align-items : center;
}

header 
{
	background-color: rgb(92, 92, 150);
	width:90%;
}
Footer {
    background-color :rgb(212, 84, 84);
	color : white;
	font-size : 1em;
	margin-top: 30px;
	margin-bottom : 0px;
	padding : 10px;
	display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : space-around;
    box-shadow : 0px 0px 50px rgb(59, 59, 74);
	border-radius:15px;
    width : 80%;
    height : 5%;	
    font-style : oblique;
    font-weight: 500;
    text-align : center;
}
#mainTitle
{
	text-align: center;
	color: white;
	font-family: Roboto Mono,Source Code Pro,Consolas,monospace;
	font-size: 50px;
}
#introFonctionnement 
{
	text-align: center;
	color:white;
	font-family: Roboto Mono,Source Code Pro,Consolas,monospace;
	position: absolute;
	padding-right: 5%;
	padding-left: 5%;
}

#separationTache
{
	background-color: rgb(59, 59, 74);
	border: 8px solid black;
	border-radius: 20px;
	width: 95%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.tache
{
	height: 70%;
	width: 40%;
	background-color: white;
	border: 3px solid black;
	border-radius: 10px;
	box-shadow: 0px 0px 10px white;
	margin-top: 8%; /*Permet de centrer verticalement*/
	overflow:scroll;
}

.prenom
{
	text-align: center;
	font-family: Roboto Mono,Source Code Pro,Consolas,monospace;
	font-size: 20px;
	border-bottom: 4px solid green;
}

.tacheTitle
{
	margin-left: 10px;
	border-bottom: 5px solid black ;
	text-align: center;
	width: 40%;
	font-family: Roboto Mono,Source Code Pro,Consolas,monospace;
	font-size: 15px;
}
.tacheTitle:hover {
	border-bottom: 5px solid dodgerblue;
}

.tacheDescription
{
	border-left: 5px solid rgb(91, 222, 117);
	margin-left: 5px;
	padding-left: 10px;
}
.tacheDescription:hover {
	border-left: 5px solid firebrick;
}
